.App {
  text-align: center;
  background-color: rgb(182, 184, 196);
  min-height: 100vh;
}

.App-header {
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-desc {
  vertical-align: center;
  text-align: left;
  padding-left: 5vw;
  padding-top: 20vh;
  min-width: 15vw;
  font-size: 24pt;
}

.rightSideColumn {
  display: flex;
  align-items: center;
}

.App-get-started {
  text-align: center;
  vertical-align: center;
  padding-right: 5vw;
  padding-top: 20vh;
  min-width: 15vw;
  font-size: 16pt;
  display: left;
  
}

.content-box {  
  background-color: rgb(147, 184, 205);
  
  float: left;
  padding: 20px;
  border-radius: 25px;
  color:white;
  font-family: "times new roman";
  text-align: center;

}

.mriScan {
  background-color:#3d4f71;
  border-color: #3d4f71;
  color:beige;
  font-size: 11pt;
}

.start {
  background-color:#3d4f71;
  border-color: #3d4f71;
  color:beige;
  font-size: 11pt;
}

.run {
  background-color:#3d4f71;
  border-color: #3d4f71;
  color:beige;
  font-size: 13pt;
  min-width: 20vw;
  min-height: 5vh;
}

.run:hover {
  transition: all 0.7s ease;
  background-color:#3d715c;
  border-color:#3d715c;
  letter-spacing: 2px;
}


.predictionOutput {
  padding-bottom: 50px;
}

.predictText {
  min-width: 20vw;
  align-items: center;
  text-align: center;
  vertical-align: center;
  font-size: 14pt;
}

.centeredBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.appFooter {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 7px;
  text-align: center;
  background-color: #282c34;
  color:aliceblue;
  font-family: courier;
}
